  
  </div>
  <div class="flex justify-center items-center  bg-gray-800 text-white p-2">
    copyright to company 
  </div>
  
  <script src="/libs/js/day.js"></script>
  <script src="/libs/fa/js/all.min.js"></script>
  <script src="/libs/js/tw.js"></script>
  <script src="/libs/js/alpine.js" defer></script>
  <script src="/libs/js/jquery.js"></script>
  <script src="/libs/js/dt.js"></script>
  <script src="/script.js"></script>
  </body>
</html>
