<%- include('../partials/user-header') %>

<div class="flex justify-end items-center p-2">
  <a href="/guards/add" class="bg-gray-800 text-white rounded p-2">Add Guard</a>
</div>

<table id="guards" class="display border" style="width: 100%" class="">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Title</th>
      <th>Experience</th>
      <th>created At</th>
      <th>Updated At</th>
    </tr>
  </thead>
</table>

<%- include('../partials/user-footer') %>
