<%- include('../partials/user-header') %>

<div class="flex justify-end items-center p-2">
  <a href="/guards/add" class="bg-gray-800 text-white rounded p-2">add guard</a>
</div>

<%- include('../partials/user-footer') %>
